
@media(min-width:576px){


}

@media(min-width:768px){

    .personal-info section::after {
        right: -10%;
    }
    .pf, .experience, .contact,  .cover-letter, .single{
        padding-left: 30px;
    }
    .news, .experience, .contact, .cover-letter, .single{
        margin-top: 0;
    }




    .gmap{

        margin-bottom: 30px;
    }

    .experience article, .cover-letter article{
        margin-bottom: 3rem;
    }
    .cover-letter .svg-inline--fa, .experience .svg-inline--fa, .personal-info .svg-inline--fa {
        font-size: 2.5em;
    }
    .portfolio-pad {
        padding: 20px 20px;
    }

}




@media(min-width:992px){
    *{
        font-size: 16px;
    }

    .experience .interests .svg-inline--fa{
        margin-bottom: 0;
    }
    .personal-info section::after {
        right: -9%;
    }

    .personal-info .col-3,
    .personal-info .col-9{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }



}

@media(min-width:1200px){

    .personal-info section::after {
        right: -7%;
    }

}

@media(min-width:1600px){
    .personal-info section::after {
        right: -6%;
    }


}
