
*{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.personal-info,
.personal-info a{
    background-color: #38a4dd;
    color: #fff;
}

.personal-info .pale{
    color: rgba(255,255,255,0.7);
    font-weight: lighter;
}